{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'blog/css/style.css' %}" rel="stylesheet" />
</head>
<body>
{% block mainmenu %}
<h4>
    {% for m in menu %}
    {% if title == m.title %}
    <span class="mar_right">{{m.title}}</span>
    {% else %}
    <span class="mar_right"><a href="{% url m.url_name %}">{{m.title}}</a></span>
    {% endif %}
    {% endfor %}
    <span class="mar_right"><a href="{% url 'registr' %}">Зарегистрироваться</a></span>
    <span class="mar_right"><a href="{% url 'login' %}">Войти</a></span>
</h4><hr>
{% endblock mainmenu %}
{% block content %}
{% endblock content %}
</body>
</html>