{% extends 'blog/base.html' %}
{% block content %}
<h4>Категории:
    {% if cat_selected == 0 %}
                   <span>Все категории</span>
    {% else %}
                   <span><a href="{% url 'home' %}">Все категории</a></span>
    {% endif %}
    {% for c in cats %}
         {% if c.pk == cat_selected %}
                   <span class="mar_right" style="margin-left: 50px;">{{c.name}}</span>
         {% else %}
                   <span class="mar_right" style="margin-left: 50px;"><a href="{{ c.get_absolute_url }}">{{c.name}}</a></span>
         {% endif %}
    {% endfor %}

</h4><hr>
<ul>
{% for p in posts %}
         <li>
             <h2><a href="{{ p.get_absolute_url }}">{{p.title}}</a></h2>
               <p>  {% if p.photo %}
             <img src="{{p.photo.url}}">
             {% endif %}
             {{p.content}}</p>

<hr>
         </li>
{% endfor %}
</ul>
{% endblock content %}